.button {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  text-align: center;

  font-size: 1rem;
  padding: 1rem 1rem;
}

.button:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  &::-webkit-scrollbar{
    display: none;
  }
}

:root {
  /* Colors */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #3a3b3c;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* Transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-05);
  overflow-x: hidden;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 1;
}

.sidebar.close {
  width: 88px;
}

.sidebar.close .text {
  display: none;
}

/* Reusable CSS */
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-04);
  white-space: nowrap;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header {
  position: relative;
}

.sidebar li {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 10px;
  list-style: none;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background: var(--primary-color);
  transition: var(--tran-02);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .image-text img {
  width: 60px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-size: 20px;
  font-weight: 700;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translatey(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  transition: translatey(--tran-03);
}

.sidebar.close header .toggle {
  transform: translatey(-50%);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar .menu {
  margin-top: 25px;
}

.sidebar .menu-bar {
  /*  background: red; */
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.close ~ .home {
  left: 88px;
  height: 100vh;
  width: calc(100% - 88px);
}

.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
  transform: var(--text-03);
}

.menu-bar .mode i.sun {
  opacity: 0;
}

body.dark .menu-bar .mode i.sun {
  opacity: 1;
}

body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  background: var(--primary-color-light);
  /*  transition: var(--tran-05); */
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translatey(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
}

body.dark .switch::before {
  left: 24px;
}

.home {
  position:relative;
  height: 100vh;
  left: 250px;
  width: calc(100% - 250px);
  transition: var(--tran-05);

  word-wrap: break-word;
}

.home .text {
  font-weight: 500;
  font-size: 4vh;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color);
  border: solid 0.1em;
  padding: 10vh 40px;
}

.cards {
  margin: 0 auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  padding-top: 30px;

  border: solid 0.2em;
}

.cards * {
  box-sizing: border-box;
}

.card-name {
  line-height: 1.5;
  font-size: 0.9em;
  color: var(--text-color);
  padding: 15px;
  background: #fafafa;
  /* border-right: 2px solid #333333; */
  /* border-left: 2px solid #333333; */
}

.card-name > p:first-of-type {
  margin-top: 0;
}

.card-name > p:last-of-type {
  margin-bottom: 0;
}

.card-btns {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
  /* border-bottom: 2px solid #333333; */
  /* border-right: 2px solid #333333;  */
  /* border-left: 2px solid #333333; */
}

.card-btns i {
  font-size: 0.5em;
  margin-right: 8px;
}

.card-add{
  height: 100%;
}

.add-dict-btn{
  display: inline-flex;
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 5px;
  overflow: hidden;
  font-size: 32px;
  cursor: pointer;
}

.add-dict-btn:hover {
  background-color: #1e293b;
  color: #fff;
}


.add-dict-btn-icon{
  display: inline-flex;
  width: 100%;
  align-items: center;
  height: 100%;
  justify-content: center;
  font-size: 1.5em;
}


/* Popup */

.popup-add-dict{
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%,-50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: burlywood;
  box-shadow: 100px 100px 100px 100px rgba(0, 0, 0, 0.15);
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.popup-add-dict.active{
  top:50%;
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.popup-close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.popup-form h1{
  text-align: center;
  color:#222;
  margin: 10px 0px 20px;
  font-size: 25px;
}

.popup-form-element{
  margin: 15px 0px;
}

.popup-form-element label{
  font-size: 14px;
  color: #222;
}

.popup-form-element input[type="text"]{
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
}

.popup-form-element button{
  width: 49%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  background: #222;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  position: relative;
}





.popup-edit-dict{
  position: absolute;
  top: -150%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%,-50%) scale(1.25);
  width: 380px;
  padding: 20px 30px;
  background: burlywood;
  box-shadow: 100px 100px 100px 100px rgba(0, 0, 0, 0.15);
  transition: top 0ms ease-in-out 200ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}

.popup-edit-dict.active{
  top:50%;
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
  transition: top 0ms ease-in-out 0ms,
              opacity 200ms ease-in-out 0ms,
              transform 200ms ease-in-out 0ms;
}